parameters:
    level: 7
    paths:
        - src
    scanDirectories:
        - vendor/php-stubs/wordpress-stubs
    bootstrapFiles:
        - phpstan-bootstrap.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
